<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
  <header>
    <h1>SUNY Potsdam ACM</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/talks">Talks</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/focusgroups">Focus Groups</a></li>
        <li><a href="/minutes">Minutes</a></li>
        <li><a href="/friends">Our Friends</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  {{{body}}}

  <footer class="container-fluid">
    <div class="row">
      <section class="col-md-4" img>
        <img src="/img/acm_logo.jpg" alt="">
      </section>
      <section class="col-md-4">
        <h5>Connect with Us</h5>
        <ul>
          <li><a href="https://www.facebook.com/PotsdamACM">Facebook</a></li>
          <li><a href="https://github.com/potsdamacm">Github</a></li>
          <li><a href="https://twitter.com/potsdamacm">Twitter</a></li>
          <li><a href="https://www.linkedin.com/groups/8408448">LinkedIn</a></li>
          <li><a href="https://lists.potsdam.edu/sympa/subscribe/acm">Mailing List</a></li>
          <li><a href="https://plus.google.com/102069938733004614886">Google Plus</a></li>
          <li><a href="https://potsdamacm.slack.com/signup">Slack</a></li>
        </ul>
      </section>
      <section class="col-md-4">
        <h5>Join us at our meetings</h5>
        <ul>
          <li>Every Friday</li>
          <li>Dunn Hall 206</li>
          <li>3:00 PM</li>
        </ul>
      </section>
    </div>
  </footer>

  <script async src="https://use.fontawesome.com/eefc51c41b.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/jquery/dist/jquery.min.js"></script>

  </body>
</html>
