<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
  <header>
    <h1>SUNY Potsdam</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/talks">Talks</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/focusgroups">Focus Groups</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/friends">Our Friends</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  {{{body}}}

  <script src="/components/angular/angular.js"></script>
  <script src="/components/jquery/dist/jquery.min.js"></script>

  </body>
</html>
