<style>
.focusgroup {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>

<div class="container">
    <h1>Focus Groups</h1>
    <p>This is a wide variety of particular topics that ACM members will be giving weekly to biweekly.</p>

    <iframe src="https://calendar.google.com/calendar/embed?src=od1s5167vc0nkjgml15u35k42c%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    <section class="col-md-4 focusgroup">
        <img src="img/blank-img.png" alt="">
        <h3>Vim</h3>
        <p>Nick Marasco</p>
        <p>Tue @ 5pm Biweekly</p>
    </section>
    <section class="col-md-4 focusgroup">
        <img src="img/blank-img.png" alt="">
        <h3>Startup</h3>
        <p>Matt Coupal</p>
        <p>Tue @ 3pm</p>
    </section>
    <section class="col-md-4 focusgroup">
        <img src="img/blank-img.png" alt="">
        <h3>Computer Architecture</h3>
        <p>Tim Backus</p>
        <p>Tue @ 5pm Biweekly</p>
    </section>
    <section class="col-md-4 focusgroup">
        <img src="img/blank-img.png" alt="">
        <h3>Hackerrank & Algorithms</h3>
        <p>Garry Griggs</p>
        <p>Sat @ 2pm Biweekly</p>
    </section>
    <section class="col-md-4 focusgroup">
        <img src="img/blank-img.png" alt="">
        <h3>C / C++</h3>
        <p>Brandon Williams</p>
        <p>Sat @ 3pm</p>
    </section>
    <section class="col-md-4 focusgroup">
        <img src="img/blank-img.png" alt="">
        <h3>Digital Music Creation</h3>
        <p>Jared</p>
        <p>Sun @ 1pm</p>
    </section>
</div>