<div class="container">
    <h1>Our Friends</h1>

    <h2>Clarkson Open Source Institute</h2>

    <p>COSI is part of the applied CS Labs at Clarkson University. COSI is a fully student-run lab that gives students real world experience through managing services and participating in projects</p>

    <p>Website: <a href="http://cslabs.clarkson.edu/">cslabs.clarkson.edu</a></p>
</div>