<h1>Welcome to Potsdam ACM!</h1>

<p>Welcome to the Potsdam ACM Club page. You can find events, talks, and other activities the club is involved on this page. Like us on Facebook, and follow us on Github, Twitter, and LinkedIn to stay up to date. Or if you would rather, you can sign up for our Mailing List. Please be aware that this website is currently under development and will be changing a lot over the next few weeks.</p>

<h2>Our Vision</h2>

<p>Our goal is to establish a collaborative environment for students who are interested in technology and computing as well as raise awareness about the career opportunities and impact caused by pursuing computer science.</p>

<h2>Mission Statement</h2>

<p>We hope to engage interested students through regular meetings, lightning talks, and interactive workshops.</p>

<h2>Want to help develop this website</h2>
<p>If you want to help make an impact on the ACM chapter, learn about web development, and work on a team, then please visit our github for this project here.</p>