<div class="hero">
    <div class="hero-content">
        <h1>Potsdam ACM</h1>
        <p>Uniting people with a passion for innovating</p>
    </div>
</div>
<div class="container content">
<div class="row">
    <div class="col-md-3 headliner">
        <h2>Talks</h2>
        <i class="fa fa-comment"></i>
        <p>Give a lightning talk, ranging from 5-10 min on a topic of your choice.</p>
    </div>
    <div class="col-md-3 headliner">
        <h2>Projects</h2>
        <i class="fa fa-code"></i>
        <p>Contribute to ACM projects to further your teamwork skills and your development as a student.</p>
    </div>
    <div class="col-md-3 headliner">
        <h2>Events</h2>
        <i class="fa fa-calendar"></i>
        <p>Participate in a wide variety of events and be updated when they happen</p>
    </div>
    <div class="col-md-3 headliner">
        <h2>Focus Groups</h2>
        <i class="fa fa-group"></i>
        <p>Recurring weekly meetings led by students on a topic of their choice</p>
    </div>
</div>

<h1>Welcome to Potsdam ACM!</h1>

<p>Welcome to the Potsdam ACM Club page. You can find events, talks, and other activities the club is involved on this page. Like us on Facebook, and follow us on Github, Twitter, and LinkedIn to stay up to date. Or if you would rather, you can sign up for our Mailing List. Please be aware that this website is currently under development and will be changing a lot over the next few weeks.</p>

<h2>Our Vision</h2>

<p>Our goal is to establish a collaborative environment for students who are interested in technology and computing as well as raise awareness about the career opportunities and impact caused by pursuing computer science.</p>

<h2>Mission Statement</h2>

<p>We hope to engage interested students through regular meetings, lightning talks, and interactive workshops.</p>

<h2>Want to help develop this website</h2>
<p>If you want to help make an impact on the ACM chapter, learn about web development, and work on a team, then please visit our github for this project here.</p>
</div>