a {
  color: #00B7FF;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
  line-height: 50px;
  width: 100%;

  h1 {
    margin: 0;
  }

  nav {
    float: right;
  }
}



header nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  // float: right;

  li {
    margin-left: 5px;
    margin-right: 5px;
    float: left;

    a {
      color: inherit;
    }
  }
}