@import 'https://fonts.googleapis.com/css?family=Roboto';
body {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: 'Roboto', sans-serif; }

a {
  color: #00B7FF; }

header {
  z-index: 10;
  height: 64px;
  display: flex;
  align-items: center;
  line-height: 64px;
  width: 100%;
  background-color: #B71C1C;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.52), 0 1px 2px rgba(0, 0, 0, 0.24); }
  header h1 {
    margin: 0;
    margin-left: 10px;
    flex: 1; }
  header nav {
    float: right; }

header nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  header nav ul li {
    margin-left: 10px;
    margin-right: 10px;
    float: left; }
    header nav ul li:last-child {
      margin-right: 20px; }
    header nav ul li a {
      color: inherit; }
      header nav ul li a:hover {
        color: inherit; }

.container {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 22px; }

.content {
  flex: 1; }

footer {
  background-color: #B71C1C;
  color: white;
  padding: 50px 0;
  width: 100%; }
  footer section h5 {
    font-size: 2.5rem; }
  footer section a,
  footer section a:hover {
    color: inherit; }
  footer section ul {
    list-style-type: none;
    padding: 0; }
  footer section[img] {
    display: flex;
    justify-content: center; }
    footer section[img] img {
      border-radius: 100%; }

.hero {
  /* Background pattern from subtlepatterns.com */
  background-image: url("/img/carbon_fibre.png");
  color: white;
  height: 32em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .hero .hero-content {
    font-size: 28px; }
    .hero .hero-content h1 {
      font-size: 2.5em; }

.headliner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .headliner i {
    font-size: 2.5em;
    margin-bottom: 10px; }

.card {
  font-size: 80%;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.23);
  height: 720px;
  padding: 0;
  width: 60%;
  margin: 20px 0; }
  .card div {
    padding: 10px; }

.card-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14); }
  .card-image img {
    object-fit: contain; }

.card-action {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .card-action a {
    flex: 1; }
